@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans"), 
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans"),
		url("../fonts/OpenSans-SemiBold.woff") format("woff"), 
		url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans"),
		url("../fonts/OpenSans-Bold.woff") format("woff"), 
		url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed";
  font-display: swap;
  src: local("OpenSansCondensed"),
		url("../fonts/OpenSansCondensed-Light.woff") format("woff"), 
		url("../fonts/OpenSansCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed";
  font-display: swap;
  src: local("OpenSansCondensed"),
		url("../fonts/OpenSansCondensed-Bold.woff") format("woff"), 
		url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

$color-white: #fff;
$color-gold: #D1A954;
$color-gray: #E5E5E5;

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: 'Open Sans', sans-serif;
	color: $color-white;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	font-weight: 700;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.container {
	max-width: 1110px;
	margin: 0 auto;
}


/* full-screen ------------------------------- */



.full-screen {
	position: relative;
	min-height: 100vh;
}
.full-screen__body {
	position: relative;
	z-index: 10;
}
.full-screen__title {

}
.full-screen__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}