doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.css")
		title Большой театр
	body 
		.full-screen
			.full-screen__body.container 
				.full-screen__top-line 
					nav.full-screen__nav 
						ul.full-screen__list 
							li.full-screen__item
								a.full-screen__link(href="#") Главная
							li.full-screen__item
								a.full-screen__link(href="#") О театре
							li.full-screen__item
								a.full-screen__link(href="#") Наши постановки
							li.full-screen__item
								a.full-screen__link(href="#") Партнеры театра
							li.full-screen__item
								a.full-screen__link(href="#") Контакты
					a.full-screen__phone(href="tel:+74951234567") +7 495 123-45-67
				.full-screen__content 
					.full-screen__text 
						h1.full-screen__title Большой театр
						p.full-screen__descr Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с 1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге, крупнейшее в России и одно из крупнейших театральных зданий в Европе XVIII.
						a.full-screen__btn.btn(href="#") Афиша
					.full-screen__slider.slider
			video.full-screen__video(preload="auto", autoplay, muted, loop)
				source(src="video/theatre.webm", type="video/webm") 
				source(src="video/theatre.mp4", type="video/mp4") 
		.about 
			.about__body.container 
				h2.about__title.title
					span О 
					| театре
				.about__content 
					.about__block 
						h3.about__subtitle Самый лучший театр СПБ
						.about__desc 
							| Как свидетельствуют архивные документы, первое каменное здание Большого театра начали возводить в 1775 году по проекту Антонио Ринальди. В дальнейшем, после того как Ринальди упал с лесов и не мог лично наблюдать за ходом работ, Екатерина II поручила немецкому театральному декоратору и архитектору Людвигу Филиппу Тишбейну создать новый проект театра, который и был воплощён архитекторами Ф. В. фон Бауром и М. А. Деденёвым. Открытие его состоялось в 1783 году, хотя, основываясь на других свидетельствах, годом открытия можно считать 1784 год.
					.about__numbers 
						h3.about__subtitle немного о цифрах
						.about__group 
							img.about__icon(src="img/about/armchair.svg")
							.about__text 
								span 1600 
								| посадочных мест
						.about__group 
							img.about__icon(src="img/about/theater.svg")
							.about__text 
								span 350 
								| лет истории
					.about__image 
						img(src="img/about/about.jpg")






	script(src="js/script.js") 