doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.css")
		title 12345
	body 
		.wrapper 
			.full-screen 
				.full-screen__body.container 
					.full-screen__title TITLEfdsfs
				video.full-screen__video(preload="auto", autoplay, muted, loop)
					source(src="video/theatre.webm", type="video/webm") 
					source(src="video/theatre.mp4", type="video/mp4") 







	script(src="js/script.js") 